{% extends "base.html" %}
{% block content %}

<div class="text-center mt-20 mb-10">
  <h1 class="text-2xl font-bold mb-4">My cryptos purchased</h1>
</div>

<div class="flex justify-center">
  <form method="POST">
    {% csrf_token %}
    <div class="">
      <label for="name" class="block mb-2 italic text-lg font-medium text-gray-900">
          Name
      </label>
      {{ crypto_form.name }}

      <label for="asset_id" class="block mb-2 italic text-lg font-medium text-gray-900">
        Asset Id <span class='text-sm text-gray-500'>(ex:BTC, ETH...)</span>
      </label>
      {{ crypto_form.asset_id }}

      <label for="amount_invested" class="block mb-2 italic text-lg font-medium text-gray-900">
        Amount invested
      </label>
      {{ crypto_form.amount_invested }}

      <label for="amount_purchased" class="block mb-2 italic text-lg font-medium text-gray-900">
        Amount purchased
      </label>
      {{ crypto_form.amount_purchased }}

      <label for="quantity_purchased" class="block mb-2 italic text-lg font-medium text-gray-900">
        Quantity purchased
      </label>
      {{ crypto_form.quantity_purchased }}

      <label for="date_purchased" class="block mb-2 italic text-lg font-medium text-gray-900">
        Date purchased
      </label>
      {{ crypto_form.date_purchased }}
  </div>
  <button type='submit' class="mt-5 text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
    Add crypto
  </button>
  </form>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      var amount_invested = document.getElementById('id_amount_invested');
      var amount_purchased = document.getElementById('id_amount_purchased');
      var quantity_purchased = document.getElementById('id_quantity_purchased');
  
      var timer;
      function updateQuantity() {
          clearTimeout(timer);

          timer = setTimeout(function() {
            var value1 = parseFloat(amount_invested.value);
            var value2 = parseFloat(amount_purchased.value);
    
            if (!isNaN(value1) && !isNaN(value2) && value2 > 0 && value1 > 0) {
              quantity_purchased.value = (value1 / value2).toFixed(2);
            } else {
              quantity_purchased.value = '';
            }
          }, 1000)
      }
  
      amount_invested.addEventListener('input', updateQuantity);
      amount_purchased.addEventListener('input', updateQuantity);
  });
  </script>


{% endblock content %}